@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-link {
  @apply px-3 py-2 rounded-md hover:bg-gray-200 font-medium;
}

.form-input {
  @apply w-full border border-gray-300 rounded-md px-3 py-2 mt-1;
}
